body{
	height: 100%;
	weight: 100%;
	background: #F5F2EF;
}

.padding{
	padding-bottom: 2rem;
}

img{
	width: 100%;
	height: auto;
}


#form{
	width: 75%;
	margin: 0 auto;

}

.btn-outline-light{
 color: #FFC39C;
 border-color: #F9DFD3;
 }
